
* {
    box-sizing: border-box;
}

/*
:root
--primary var (#0000),

/* Estilo CSS da página Week Food */
body {
    margin: 0px 0px 36px 0px ;
    padding: 0;
    background-color: #0A0D20;
}

.menu {
    display: flex;
    position:absolute;
    width: 100%;
    justify-content:center;
    align-items: center;
    column-gap: 64px;
    list-style: none;
    padding: 0;
}

.menu__logo {
    padding-top: 16px;
    list-style: none;
}

.menu__item a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12.9259px;
    line-height: 16px;
    transition: .5s;
    color: white;
    text-decoration: none;
    padding-top: 16px;
}

.menu__item a:hover {
    color:  #0047FF;
}

.menu__button[type="submit"] {
    margin-left: 184px;
    padding: 12px 16px;
    color: #FFFFFF;
    background: #0047FF;
    border-radius: 0px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}
.arco {
  position: absolute;
  right: 0%;
  top: 160px;
}

/* Chamada do site */
.produto{
    position: absolute;
    left: 15.03%;
    bottom: 62%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 45px;
    color: #FFFFFF;
}
#hero h1{
    position: absolute;
    left: 15.03%;
    bottom: 56%;
    font-family: 'Montserrat';
    font-style: medium;
    font-weight: 400;
    font-size: 55px;
    line-height: 55px;
    color: #ffffff;
    margin: 0px 0px 0px 0px;
}
#hero a{
    font-weight: 800;
    font-size: 75px;
    line-height: 55px;
    color:  #0047FF;  
}
.sucesso{
    position: absolute;
    width: 532px;
    left: 15.03%;
    bottom: 36%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 35px;
    color: #FFFFFF;
}
.button-hero[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    position: absolute;
    left: 15.03%;
    bottom: 25%;
    color: #FFFFFF;
    background:  #0047FF;
    border-radius: 0px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}
.button-hero[type="submit"]:hover{
    background: #F9C200;
    color:  #0047FF;
    cursor: pointer;
}



.divisor {
    position: absolute;
width: 495px;
height: 80.68px;
left: 172px;
top: 83.5%;
}

.background-hero {
    background: url(../img/Backgroundux360-min.jpg);
    background-size: cover;
    position:sticky;
    width: 100%;
    height: 90vh;
    top: 0;
    z-index: -1;
}


/*Section Sobre*/
#sobre{
    display: flex;
    justify-content: center;
    height: 780px;
    background-color: #2C2C2C;
}
.titulo_sobre{
height: 200px;
}
.conteudo_sobre{
    display: flex;
    position: absolute;
    align-items: center;
    column-gap: 72px;
    margin-top: 178px;
    
}
#sobre h2{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 107px;
    color: #87898A;
    left: 15.03%;
    padding-top: 24px;
    margin: 0;
}
#sobre a{
    font-weight: 700;
    font-size: 71.3333px;
}
#sobre p{
   
    max-width: 500px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}
.image-sobre{
    width: 495px;
    height: auto;
}

.divisor_serviços{
    position: absolute;
    right: 0%;
    z-index: 9999;
    height: 92px;
    transform: rotate(180deg);
}
#serviços{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    background-color: #f1f1f1;
}

/*footer */
footer {
    background: url(../img/footer_ux360.jpg);
    width: 100%;
    background-size: cover;
    color: #fff;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items:flex-start;
    padding: 0px;
    gap: 179px;
    position: absolute;d
}
.logo_end_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 50.28px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.logo_footer{
    margin-top: 36px;
}
.logo_footer img{
    width: 148.91px;
    height: 56.08px;
}
.end_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6.6px;
}
.end_footer h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15.4709px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
}
.end_footer p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15.4709px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
}

.links_footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;
    margin-top: 36px;
}
.menu_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    gap: 18.37px;
    list-style: none;
}
.menu_footer p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0;
}
.menu_footer a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}
.serviços_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    gap: 18.37px;
    flex: none;
    order: 1;
    flex-grow: 0;
    list-style: none;
}
.serviços_footer p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    flex: none;
    order: 0;
    flex-grow: 0;
    list-style: none;
    margin: 0;
}
.serviços_footer a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    flex: none;
    order: 3;
    flex-grow: 0;
    transition: .5s;
    color: white;
    text-decoration: none;
}


.dados_footer{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 62.85px;
margin-top: 36px;
}

.contatos_footer {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20.31px;
}
  
.contatos_footer a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15.4709px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}
  
.contatos_footer a i {
    font-size: 20px;
    margin-right: 5px;
}
  
.contatos_footer a:hover {
    color:#0047FF;
}
.footer__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7.73547px 15.4709px;
    background: #0047FF;
    color: #FFFFFF;
    margin-top: 12px;  
}

/* Footer - Direitos Reservados */
.container-footer h5{
position: absolute;
left: 40%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
color: #FFFFFF;
margin-top: 370px;
inline-size: auto;
}


/* Responsividade - Mobile First */

/* TABLET */
@media only screen and (max-width: 768px) {

/* Tablet - Imagem e texto Hero */
.background-hero {
    background: url(../img/background-hero-tablet.jpg);
    background-size: cover;
    width:100%;
}
.logo {
    top: 164px;
}
.container p {
   top: 45%;
}
.container h1{
    left: 9.03%;
    top: 55%;
    font-size: 44.8276px;
    line-height: 55px;

}

/* Tablet 768 - Formulário */
.label-hero {
    width: 452px;
    height: 20px;
    left: 9.03%;
    top: 810px;
    font-size: 16px;
    
}
.input-hero[type="email"] {
    width: 48%;
    height: 41px;
    left: 9.03%;
    top: 860px;
}
.button-hero[type="submit"] { 
    left: 60%;
    top: 860px;
    height: 43px;
}

/* Tablet 768 - Funcionalidades */
.funcionalities{
    height: 2600px;
    margin: 0px;
}
.mockup {
    width: 78%;
    height: auto;
    margin-top: 240px;
    left: 11%;
}
.funcionalities h2 {
    font-size: 48px;
    line-height: 54px;
    left: 11%;
    margin-top: 32px;
    padding: 0;
}
.funcionalities h3 {
    font-size: 48px;
    line-height: 29px;
    margin-top: 1500px;
}
.funcionalities ul {
    width: 80%;
    left: 8%;
    height: auto;
    margin-top: 1560px;
    font-size: 32px;
    line-height: 60px;
}

/* Tablet 768 - Footer */
.container-footer label{
    width: 257px;
    left: 9.03%;
    font-size: 16px;
}  
.container-footer input[type="email"] {
    position: absolute;
    width: 40%;
    height: 41px;
    left: 9.03%;
    background: #FFFFFF;
    border-radius: 16px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-left: 12px;
    margin-top: 360px;
}
.container-footer button[type="submit"] {
padding: 8px 16px;
border: none;
position: absolute;
width: 228px;
height: 43px;
left: 9.03%;
background: #F9C200;
border-radius: 16px;
cursor: pointer;
margin-top: 466px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #A80000;
}

/* Footer -  Redes sociais */
.container-footer h2{
font-weight: 700;
font-size: 16px;
margin-top: 66px;
}
.social-icons {
    margin-top: 106px;
}

/* Footer - Dúvidas e Parcerias */
.container-footer h3{
    font-size: 16px;
    margin-top: 180px;
}
.container-footer h6{
        font-size: 16px;
        margin-top: 216px;
}

/* Footer - Direitos Reservados */
.container-footer h5{
    left: 30%;
}
}

/* MOBILE */
@media only screen and (max-width: 418px) {

.background-hero {
    display: flex;
    background: url(../img/background-hero-mobile.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
}
.logo {
    top: 48px;
}
.container p {
   top: 27%;
   font-size: 24px;
   line-height: 30px;
}
.container h1{
   width: 320px;
    left: 9.03%;
    top: 40%;
    font-size: 28px;
    line-height: 45px;
}

/* mobile 418 - Formulário */
.label-hero {
    width: 318px;
    height: 36px;
    left: 9.03%;
    top: 67%;
    font-size: 16px;
    line-height: 30px;
}
.input-hero[type="email"] {
    width: 70%;
    height: 41px;
    left: 9.03%;
    top: 77%;
}
.button-hero[type="submit"] { 
    left: 9.03%;
    top: 85%;
    height: 41px;
}

/* Mobile 418 - Funcionalidades */
.funcionalities {
    height: 1690px;
    margin: 0px;
}
.mockup {
    width: 78%;
    height: auto;
    margin-top: 240px;
    left: 11%;
}
.funcionalities h2 {
    font-size: 24px;
    line-height: 44px;
    left: 11%;
    margin-top: 32px;
}
.funcionalities h3 {
    font-size: 24px;
    line-height: 29px;
    margin-top: 840px;
    left: 8%;
}
.funcionalities ul {
    width: 300px;
    left: 6%;
    height: auto;
    margin-top: 860px;
    font-size: 20px;
    line-height: 45px;
}

/* Mobile 418 - Footer */
footer {
    height: 540px;
}
.container-footer label{
    left: 19%;
    font-size: 16px;
    text-align: center;
    margin-top: 160px;
}
.container-footer input[type="email"] {
width: 75%;
height: 41px;
left: 11%;
margin-top: 320px;
}
.container-footer button[type="submit"] {
    margin-top: 430px;
    left: 21%;
}

/* Mpbile Footer -  Redes sociais */
.container-footer h2{
margin-top: 282px;
right: 25%;
}
.social-icons {
margin-top: 326px;
right: 31%;
}

/* Mobile Footer - Dúvidas e Parcerias */
.container-footer h3{
    right: 30%;
    margin-top: 390px;
}
.container-footer h6{
    margin-top: 428px;
    right: 23%;
}
.container-footer h5{
left: 15%;
margin-top: 548px;
}
}
