
body {
    margin: 0;
    padding: 0;
    background-color: #0A0D20;
}

/* header */
header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
    padding: 0;
    margin: 0;
}
.header_container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding-top: 16px;
    margin: 0;
    gap: 24px;
}
.menu__logo {
        width: 111px;
        height: 41.45px;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 389px;
    gap: 31px;
    list-style: none;
}
.menu__item a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12.9259px;
    line-height: 16px;
    transition: .5s;
    color: white;
    text-decoration: none;
    padding-top: 16px;
}
.menu__item a:hover {
    color:  #0047FF;
}
.menu__button[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    color: #FFFFFF;
    background: #0047FF;
    border-radius: 0px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

/* Foto de fundo principal */
.hero {
    background-image: url(../img/Backgroundux360-min.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    z-index: -1;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align:left;

}

.hero_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: ;
    padding: 0px;
    gap: 8px;    
}
.primeira_frase{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 11px;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17.9653px;
    line-height: 22px;
    color: #FFFFFF;   
}
.chamada {
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 0px;
}
.chamada h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 79px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 24px;
    margin: 0;
}
.palavra_chave {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 0px;
    margin-left: 24px;
}
.palavra_chave a{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 75.0647px;
line-height: 92px;
color: #0047FF;
}
.sublime {
    width: 318px;
    height: 29.8px;
    align-items:flex-start; 
}

.segunda_frase{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 42px;
    width: 465px;
    height: 66px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17.9653px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
}

.button-hero[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.54613px 19.0923px;
    gap: 9.55px;
    color: #FFFFFF;
    background:  #0047FF;
    border-radius: 0px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}
.button-hero[type="submit"]:hover{
    background: #ffffff;
    color:  #0047FF;
    cursor: pointer;
}
.arco {
    position: absolute;
    right: 0%;
    top: 160px;
  }

.divisor {
    position: absolute;
    width: 495px;
    height: 80.68px;
    left: 172px;
    top: 83.5%;
}

/*Section Sobre*/
.sobre{
    width: 100%;
    height: 800px;
    background: #0C0C0C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 4px;
}

.sobre_title{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    padding: 10px;
    gap: 10px;
    padding-right: 624px;

}
.sobre_title h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 107px;
    color: #87898A;
}
.sobre_title a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 71.3333px;
    line-height: 107px;
    color: #87898A;
}
.conteudo_sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 51px;

}
.image-sobre{
    width: 425px;
    height: 373.55px;
}
.conteudo_sobre p{
    width: 457px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.divisor_serviços{
    position: absolute;
    right: 0%;
    z-index: 9999;
    height: 92px;
    transform: rotate(180deg);
}

/* Sessão Serviços */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 98px; 
    background-color: #FFFFFF;
    height: 1200px;
}
.text_services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}
.text_services h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 107px; 
    margin: 0;
    padding-top: 48px;
    color: #87898A; 
}
.text_services a {
    font-weight: 700;
    font-size: 60px; 
}
.text_services h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17.9653px;
    line-height: 22px;
    width: 1082px;
    height: 110px;
    margin: 0;
    color: #1E1E1E;
}

/* Primeira coluna de serviços */

.primary_colum {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 71px;
    z-index: 999;    
}

/* UX Research */
.uxresearch {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    padding: 0px;
    gap: 19.16px;
    width: 506.07px;
    height: 207.75px;
    left: 184.07px;
    top: 1824.85px;
} 
.icon_research {
    width: 128px;
    height: auto;
}
.text_research {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 0px;
width: 460px;
}
.text_research h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19.9295px;
    line-height: 30px;
    color: #0047FF;
    margin: 0;
    padding-top: 12px;
}
.text_research p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1E1E1E;
    text-align: left;
    margin: 0;
}

/* UI Design */
.uidesign {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    padding: 0px;
    gap: 19.16px;
    width: 506.07px;
    height: 207.75px;
    left: 184.07px;
    top: 1824.85px;
} 
.icon_design {
    width: 128px;
    height: auto;
}
.text_design {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
    width: 460px;
}
.text_design h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19.9295px;
    line-height: 30px;
    margin: 0;
    padding-top: 12px;
    color: #0047FF;
}
.text_design p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1E1E1E;
    text-align: left;
    margin: 0;
}
.expand_design{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 9px;
}
.expand_design ul{
    margin: 0;
    padding:0;
}
.expand_design li{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    list-style: none;
    color: #1E1E1E;
}

/* segunda coluna de serviços */

.secondary_colum {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 71px;   
}

/* UX Writing */
.uxwriting {
    display: flex;
flex-direction: row;
justify-content: left;
align-items: flex-start;
padding: 0px;
gap: 19.16px;

width: 506.07px;
height: 207.75px;
left: 184.07px;
top: 1824.85px;
} 
.icon_writing {
    width: 128px;
    height: auto;
}
.text_writing {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 0px;
width: 460px;
}
.text_writing h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19.9295px;
    line-height: 30px;
    color: #0047FF;
    margin: 0;
    padding-top: 12px;
}
.text_writing p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1E1E1E;
    text-align: left;
    margin: 0;
}

/* Desenvolvimento */
.desenvolvimento {
    display: flex;
flex-direction: row;
justify-content: left;
align-items: flex-start;
padding: 0px;
gap: 19.16px;

width: 506.07px;
height: 207.75px;
left: 184.07px;
top: 1824.85px;
} 
.icon_desenvolvimento {
    width: 128px;
    height: auto;
}
.text_desenvolvimento {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 0px;
width: 460px;
}
.text_desenvolvimento h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19.9295px;
    line-height: 30px;
    color: #0047FF;
    margin: 0;
    padding-top: 12px;
}
.text_desenvolvimento p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1E1E1E;
    text-align: left;
    margin: 0;
}

/* Botão Detalhes */
.details {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14.1955px;
    line-height: 30px;
    color: #0047FF;
    text-decoration: none;
}

/*footer */
footer {
    background: url(../img/footer_ux360.jpg);
    width: 100%;
    background-size: cover;
    color: #fff;
    height: 380px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items:flex-start;
    padding: 0px;
    gap: 60px;
    position: absolute;
}
/*Logo e endereço*/
.logo_end_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 50.28px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.logo_footer{
    margin-top: 48px;
}
.logo_footer img{
    width: 148.91px;
    height: 56.08px;
}
.end_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6.6px;
}
.end_footer h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15.4709px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
}
.end_footer p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15.4709px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
}

/*Menu e Serviços Links*/
.links_footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;
    margin-top: 48px;
}
/*Menu*/
.menu_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    gap: 18.37px;
    list-style: none;
}
.menu_footer p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0;
}
.menu_footer a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}
/*Serviços*/
.serviços_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    gap: 18.37px;
    flex: none;
    order: 1;
    flex-grow: 0;
    list-style: none;
}
.serviços_footer p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    flex: none;
    order: 0;
    flex-grow: 0;
    list-style: none;
    margin: 0;
}
.serviços_footer a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    flex: none;
    order: 3;
    flex-grow: 0;
    transition: .5s;
    color: white;
    text-decoration: none;
}

/*Contatos e Redes sociais*/
.dados_footer{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 62.85px;
margin-top: 48px;
}
/*Contatos*/
.contatos_footer {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20.31px;
} 
.contatos_footer a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15.4709px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
} 
.contatos_footer a i {
    font-size: 20px;
    margin-right: 5px;
}
.contatos_footer a:hover {
    color:#0047FF;
}
.footer__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7.73547px 15.4709px;
    background: #0047FF;
    color: #FFFFFF;
    margin-top: 12px;  
}
/*Redes Sociais*/
.redes_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15.47px; 
}
.redes_footer p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15.4709px;
line-height: 19px;
color: #FFFFFF;
margin: 0;
}
.icons_redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 28.04px;
}
.icons_redes img {
    box-sizing: border-box;
    width: 24.17px;
    height: 24.17px;  
}
/* Direitos Reservados */
.direitosreservados{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 350px;
    inline-size: auto;
}


/* Responsividade do Site */

@media only screen and (max-width: 1100px) {

.menu {
    padding: 0px 0px 0px 89px;
    gap: 31px;
}
}


@media only screen and (max-width: 820px) {

    .menu {
        padding: 0;
        gap: 31px;
    }
    }

@media only screen and (max-width: 414px) {
.menu {
    display: none;
}
.menu__button[type="submit"] {
    display: none;
}
.hero {
    background-image: url(../img/footer_ux360.jpg);
	justify-content:flex-start;
	align-items: center;
	text-align:left;
}
.hero_container{
    gap: 24px;
    margin: 24px;
}
.primeira_frase{
    width: 262px;
height: 44px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17.9653px;
line-height: 22px;
align-items: center;

}
.chamada { 
    flex-direction: column;
    align-items: flex-start;
}
.chamada h2{
    width: 320px;
    height: 59px;
    font-size: 40px;
    padding:0;
}
.palavra_chave{
    margin:0;
}
.palavra_chave a{
    align-items: flex-start;
}

.segunda_frase{
width: 296px;
height: 110px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17.9653px;
line-height: 22px;
}
.arco {
    display: none;
}
.divisor {
    display: none;
}
.sobre{
    height: 1020px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;
}
.sobre_title{
   display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
width: 326px;
}
.sobre_title h2{
font-weight: 300;
font-size: 40px;
padding: 0;
margin: 0;
}
.sobre_title a{
font-weight: 700;
font-size: 60px;
line-height: 91px;
}
.conteudo_sobre {
    flex-direction: column;
}
.image-sobre{
    width: 340px;
    height: auto;
}
.conteudo_sobre p{
    width: 340px;
    font-size: 12px;
}

.services {
    height: 2000px;
}
.text_services{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;
}

.text_services h2{
    width: 362px;
}
.text_services h4{
width: 361px;
height: 420px;
font-weight: 400;
font-size: 18.1666px;
line-height: 30px;
}
.primary_colum {
    flex-direction: column;
}
.secondary_colum {
    flex-direction: column;
}

.uxresearch{
    width: 390px;
}
.text_research{
    width: 220px;
}

.text_research p{
    width: 200px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
}
.uidesign{
    width: 390px;
}
.text_design{
    width: 220px;
}
.text_design p{
    width: 200px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
}
.uxwriting{
    width: 390px;
}
.text_writing{
    width: 220px;
}
.text_writing p{
    width: 200px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
}
.desenvolvimento{
    width: 390px;
}
.text_desenvolvimento{
    width: 220px;
}
.text_desenvolvimento p{
    width: 200px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
}



footer{
    flex-direction: column;
    height: 980px;
    gap: 72px;
    justify-content:flex-start;
    align-items: left;
}
.logo_end_footer{
    margin-left: 24px;
}
.links_footer {
    margin-left: 24px;
    margin-top: 0;
}
.dados_footer{
    margin-left: 24px;
}
.direitosreservados{
    margin-top: 952px;
    margin-left: 24px;
}
}


    
